# Pertemuan 15
## NRP: 2073008
## Nama: Evan Julian Sudarman
## Version: 30/12/2021
## Pandas

### 53. Membuat kategori baru berdasarkan threshold (ambang batas)

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)

1.0.5

In [ ]:
d = {'hobi':['jogging', 'mancing', 'renang',
             'mancing', 'mancing', 'baca', 
             'baca', 'mancing', 'fotograsi', 
             'mancing', 'camping']}

df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotograsi
9     mancing
10    camping

In [ ]:

df['hobi'].value_counts()

mancing      5
baca         2
jogging      1
camping      1
renang       1
fotograsi    1
Name: hobi, dtype: int64

In [ ]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

mancing      0.454545
baca         0.181818
jogging      0.090909
camping      0.090909
renang       0.090909
fotograsi    0.090909
Name: hobi, dtype: float64

In [ ]:
threshold = 0.1
hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['jogging', 'camping', 'renang', 'fotograsi'], dtype='object')

In [ ]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [ ]:
df['hobi'].value_counts(normalize=True)

mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: hobi, dtype: float64

### 54. Menyimpan Data Frame sebagai file csv.

In [ ]:
data = {"nama":['bayu','indra','devi','agni'],
        "jenis_kelamin":['L','L','P','L'],
        "usia": [23, 21, 22, 25]}
df = pd.DataFrame(data)
df

In [ ]:
df.to_csv('data_peserta.csv')

In [ ]:
df = pd.read_csv('data_peserta.csv')
df

In [ ]:
df.to_csv('data_peserta_csv', index=False)
df = pd.read_csv('data_peserta.csv')
df

### 55. Menghitung jumlah baris menurut kriteria tertentu.

In [ ]:
n_rows = 10
n_cols = 5
cols= tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size=(n_rows, n_cols)), columns=cols)

In [ ]:
(df['A']<5).sum()

In [ ]:
(df['A']<5).mean()

### 56. Mengeluarkan suatu kolom dari pandas dataframe.

In [ ]:
data = {"nama":['bayu','indra','devi','agni'],
        "jenis_kelamin":['L','L','P','L'],
        "usia": [23, 21, 22, 25]}
df = pd.DataFrame(data)
df

In [ ]:
usia = df.pop('usia').to_frame()

In [ ]:
df

In [ ]:
usia